@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: raleway_f;
  src: url(/fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(/fonts/raleway-black.woff2);
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010101;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}
